.auth-component {
  height: 60vh;
  width: 40vw;
  margin: 3rem auto;
  background-color: transparent;
}

.auth-pages {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.auth-page {
  position: absolute;
  background-color: var(--secondary);
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.link {
  color: var(--white);
}
