.card {
  width: 20rem;
  height: 30rem;
  transition: all 0.2s;
  margin: 2rem 0.2rem;
}

.vertical-card {
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.1);
}

.card-image {
  min-height: 10rem;
}

.card-title {
  font-size: 1rem;
}

.video-description {
  height: 1rem;
}

.badge {
  padding: 0.25rem;
}

.card-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card:hover {
  box-shadow: 12px 12px 24px var(--shadow-dark),
    -12px -12px 24px var(--shadow-light);
}

.text-btn {
  width: 100%;
}
